.DS_Store
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Rule for dotfiles ===
# Ignore all dotfiles.
.*
# Exclude specific dotfiles that we want to track.
!.gitignore


# === Rules for `node_modules` ===
node_modules
!**/node_modules/**
/node_modules
/tools/doc/node_modules
/tools/clang-format/node_modules
